<h1>Login</h1>
<form action="/sessions" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>
      <label for="email">Email</label>
      <input type="text" name="email">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" name="password">
  <input type="submit" value="Login User">
</form>

